<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
<!-- 	<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" /> -->

	<context id="DB2Tables" targetRuntime="MyBatis3">

		<jdbcConnection driverClass="org.postgresql.Driver"
			connectionURL="jdbc:postgresql://localhost:5432/agro_db_2" userId="postgres"
			password="password">
		</jdbcConnection>

		<!-- <javaTypeResolver > <property name="forceBigDecimals" value="false" 
			/> </javaTypeResolver> -->

		<javaModelGenerator targetPackage="com.hwilliams.agroServer.db.model"
			targetProject="C:\Users\Hernan\AgroApp\git\AgroServer\AgroServer\src\main\java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="test.xml"
			targetProject="C:\Users\Hernan\AgroApp\git\AgroServer\AgroServer\src\main\resources\myBatis\sqlMapGenerator">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator 
			type="ANNOTATEDMAPPER"
			targetPackage="com.hwilliams.agroServer.db.client"
			targetProject="C:\Users\Hernan\AgroApp\git\AgroServer\AgroServer\src\main\java">
			<property name="enableSubPackages" value="true" />
			<property name="useLegacyBuilder" value="true"/>
		</javaClientGenerator>

<!-- 		<table tableName="clima" />
		<table tableName="cotizacion" />
 		<table tableName="maquina" />
		<table tableName="oferta" />
		<table tableName="prestacion" />
		<table tableName="usuario" /> -->
		
		<table tableName="usuario" />
		<table tableName="parque_maquina" />
		<table tableName="maquina" />

	</context>
</generatorConfiguration>